<div class="title">
    Виртуальная карта Перекресток теперь в Едадил
  </div>
  
  <app-card></app-card>
  
  <hr class="gray-line">

  <div class="text-box">

    <div class="text-box-title">
      <span>
          Поздравляем!
      </span>
      <span>
        Вы оформили карту Перекресток
      </span>
    </div>

    <ul class="my-ul">
      <i class="material-icons">
        check_circle
      </i>
      <li>Вы можете копить баллы с каждой покупки. Для начисления баллов предъявите штрих-код на кассе</li>
      <i class="material-icons">
        check_circle
      </i>
      <li>Пока в приложении Едалил нельзя тратить баллы с карты Перекресток. Очень скоро такая возможность появиться. <span>Подробнее</span></li>
    </ul>
  </div>

  
  <app-btn-next routerLink="/consent"></app-btn-next>