<div class="title">
    Виртуальная карта Перекресток теперь в Едадил
  </div>
  
  <app-card></app-card>
  
  <hr class="gray-line">

  <div class="text-box">

    <div class="text-box-title">
      <span>
          Поздравляем!
      </span>
      <span>
        Вы оформили карту Перекресток
      </span>
    </div>

    <ul class="my-ul">
      <li>
        <i class="material-icons icon-green">
          check_circle
        </i>
        <div class="text">Вы можете копить баллы с каждой покупки. Для начисления баллов предъявите штрих-код на кассе</div>
      </li>
      <li>
        <i class="material-icons icon-green">
          check_circle
        </i>
        <div class="text">Пока в приложении Едалил нельзя тратить баллы с карты Перекресток. Очень скоро такая возможность появиться. <span>Подробнее</span></div>
      </li>
    
    </ul>
  </div>

  
  <app-btn-next>Показать карту</app-btn-next>