.text-box-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.my-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
  
}

li:last-child {
  margin-bottom: 0;
}

i.icon-green {
  position: absolute;
  left: -10px;
  color: rgb(91, 179, 91);
}

.title {
  padding: 15px;
  font-weight: bold;
  text-align: center;
}