<app-card></app-card>

<hr class="gray-line">

<div class="container">
  <div class="text-number">
    На номер <strong>{{phoneNumber}}</strong> мы отправили SMS с кодом подтверждения.
  </div>

  <div class="code">
    <form [formGroup]="formCode" (ngSubmit)="checkCode()">
      <mat-form-field>
        <input matInput placeholder="Код подтверждения" [formControlName]="'code'" (keypress)="checkChar($event)">
      </mat-form-field>
      <div class="warning" *ngIf="formCode.get('code').invalid && formCode.get('code').touched">
        <span>
          Код подтверждения введен некорректно
        </span>
      </div>
      <div class="text-repeat" *ngIf="!formCode.disabled">
        <div class="text" *ngIf="timer !== 0">
          Отправить SMS с кодом повторно можно будет через {{timer}} секунда
        </div>
        <a class="repeat-sms" *ngIf="timerEnd" (click)="startTimer()">
          Отправить смс с кодом повторно
        </a>
      </div>
      <div *ngIf="attempt === 0" class="warning">
        Превышен лимин попыток
      </div>

      <div class="buttons">
        <app-btn-next [isValid]="nextAccess">Продолжить</app-btn-next>
        <app-btn-back></app-btn-back>
      </div>
    </form>
  </div>

</div>