<app-card></app-card>

<hr class="gray-line">

<div class="container">
  <div class="text-number">
    На номер <strong>{{phoneNumber}}</strong> мы отправили SMS с кодом подтверждения.
  </div>

  <div class="code">
    <form [formGroup]="formCode" (submit)="checkCode()">
      <mat-form-field>
        <input matInput placeholder="Код подтверждения" [formControlName]="'code'" (keypress)="checkChar($event)">
      </mat-form-field>
      <div class="warning" *ngIf="formCode.get('code').invalid && formCode.get('code').touched">
        <span>
          Код подтверждения введен некорректно
        </span>
      </div>
      <div class="text-repeat" *ngIf="!formCode.disabled">
        <app-timer
        [timer$]="timer$"
        (onRequestNewCode)="requestNewCode()"
        ></app-timer>
      </div>
      <div *ngIf="!attempt" class="warning">
        Превышен лимин попыток
      </div>

      <div class="buttons">
        <app-btn-next [disBtn]="!nextAccess">Продолжить</app-btn-next>
        <app-btn-back></app-btn-back>
      </div>
    </form>
  </div>

</div>