.button-next {
  color: white;
  background-color: green;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0px;
  border-radius: 10px;
  width: 80%;
  display: inline-block;
}

.box-button {
  padding-top: 30px;
  text-align: center;
  width: 100%;
}

.button {
}