<app-card></app-card>

<hr class="gray-line">

<div class="box-number">
  <div class="box-number-title">
    Укажите номер мобильного телефона:
  </div>
  <form class="my-form" [formGroup]="consent" (ngSubmit)="onSubmit()">
    
    <div class="input-box">
        +7
      <mat-form-field>
        <input
          matInput
          placeholder="Telephone"
          [formControlName]="'phone'"
          class="num-before val-info"
          [textMask]="{mask: phoneMask}"
        >
      </mat-form-field>
      <div class="warnging-phone" *ngIf="consent.get('phone').touched && consent.get('phone').invalid">
        <div *ngIf="consent.get('phone').errors['required']">Пароль не должен быть пустым</div>
        <div  *ngIf="consent.get('phone').errors['minlength'] && consent.get('phone').errors['minlength']['requiredLength'] ||
        consent.get('phone').errors['maxlength'] && consent.get('phone').errors['maxlength']['requiredLength']">
          Неверно введен номер мобильного телефона
        </div>

      </div>
    </div>

    <div class="box-checkboxes">
      <div class="box-checkbox">
        <mat-checkbox class="padd val-info" [formControlName]="'checkbox1'"></mat-checkbox>
        <label>
          Я согласен(на) с <span class="link-green" (click)="showPopupRule()">Правилами клуба</span>
        </label>
      </div>
      <div class="box-checkbox">
        <mat-checkbox class="padd val-info" [formControlName]="'checkbox2'"></mat-checkbox>
        <label>Я согласен(на) с
          <span class="link-green" (click)="showAgreement()">Соглашением на обработку и передачу персональных данных</span>
        </label>
      </div>
    </div>
    <div class="buttons">
      <app-btn-next [isValid]="consent.valid">Продолжить</app-btn-next>
    </div>
  </form>


</div>