/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.gray-line {
  height: 4px;
  width: 100%;
  background-color: rgba(245, 235, 235, 0.924);
  border: none;
}

.link-green {
  color: rgb(96, 180, 96);
}

